snippet log "console.log" b
console.log($1);
endsnippet

snippet desc "jasmine describe" b
describe('$1', function() {
  $2
});

endsnippet

snippet it "jasmine it" b
it('$1', function() {
  $2
});

endsnippet

snippet be "before each" b
beforeEach(function() {
  $1
});

endsnippet

snippet ba "before all" b
beforeAll(function() {
  $1
});

endsnippet
